/vendor
/node_modules
/data
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/bootstrap/cache/*.php
!bootstrap/cache/.gitignore
.env
.git
.gitignore
.DS_Store
Thumbs.db
*.md
phpunit.xml
docker-compose.yml
Dockerfile
.dockerignore
